/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* global variables */
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    box-sizing: border-box;
}

:root {
    --color_0: #1a1e21;
    --color_1: #fd8f44;
    --color_3: #172317;
    --color_4: #fff;
    --color_5: #2522221a;
    --color_6: #fd7f2b;
    --color_7: hsl(355deg 25%  15% / 10%);
    --color_8: hsl(24, 56%, 93%);
    --color_9: #ffffff;
    --color_10: #000000;
    --color_11: rgba(0, 0, 0, 0.5);
    --color-12: hsl(24 98% 58%);
}

::selection {
    color: var(--color_4);
    background: var(--color_1);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    width: 100%;
}

section {
    padding: 3rem 0 2rem;
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
}

header.shadow {
    background-color: var(--color_4);
    box-shadow: 0 1px 4px var(--color_5);
    transition: 0.4s;
}

header.shadow .logo {
    color: var(--color_3);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;
}

.container {
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

.logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color_4);
}

.logo {
    color: var(--color_4);
}

.logo span {
    color: var(--color_1);
}

.logo span:hover {
    color: var(--color_6);
}

.login {
    padding: 8px 14px;
    font-weight: 500;
    border-radius: 4px;
    background-color: var(--color_1);
    color: var(--color_4);
}

/* Home */
.home {
    width: 100%;
    background: var(--color_0);
    display: grid;
    justify-content: center;
    align-items: center;
}

.home_text {
    color: var(--color_4);
    text-align: center;
}

.home_title {
    font-size: 3.5rem;
    font-weight: bold;
}

.post_filter {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.2rem;
    margin-top: 2rem !important;
}

.filter_item {
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    padding: 4px 10px;
    border-radius: 4px;
    transition: 0.4s;
}

.filter_item:hover {
    background: var(--color_1);
    color: var(--color_4);

}

.filter_item--active {
    background: var(--color_1);
}

/* Posts */
.post {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    justify-content: center;
    gap: 1.5rem;
}

.post_box {
    background: var(--color_4);
    box-shadow: 0 4px 14px var(--color_7);
    padding: 15px;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.4s;
}

.post_box:hover {
    background-color: var(--color_8);
}

.post_img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
}

.category {
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--color_1);
}

.post_title {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--color_3);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.post_date {
    display: flex;
    font-size: 0.875rem;
    font-weight: bold;
    margin-top: 4px;
}

.post_description {
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin: 5px 0 10px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.profile_img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 1px solid var(--color_1);
}

.profile_name {
    font-size: 0.82rem;
    font-weight: 500;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.footer p {
    font-size: 0.938rem;
}

.social {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.social .bx {
    font-size: 1.4rem;
    color: var(--color_3);
}

.social .bx:hover {
    color: var(--color_1);
    transition: 0.3s all linear;
}

.post_header {
    width: 100%;
    height: 500px;
    background: var(--color_0);
}

.post_container {
    max-width: 800px;
    margin: auto;
    width: 100%;
}

.header_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem !important;
}

.back_home {
    color: var(--color_1);
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.back_home:hover {
    color: var(--color_9);
}

.header_title {
    width: 90%;
    font-size: 2.6rem;
    color: var(--color_4);
    text-align: center;
    margin-bottom: 1rem;
}

.header_img {
    width: 100%;
    height: 420px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

.post_content {
    margin-top: 10rem !important;
}

.sub_heading {
    font-size: 1.2rem;
}

.post_text {
    font-size: 1rem;
    line-height: 2rem;
    margin: 1rem 0;
    text-align: justify;
}

/* Share */
.share {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}

.share_title {
    font-size: 1.1rem;
    font-weight: bold;
}

.hide {
    opacity: 0;
    display: none;
}

#back_to_top {
    display: none;
    position: fixed;
    bottom: 70px;
    right: 20px;
    background-color: transparent;
    padding: 0.5rem 1rem;
    color: var(--color_10);
    text-decoration: none;
    border-radius: 5px;
    transition: 0.4s;
}

#back_to_top:hover {
    background-color: var(--color_1);
}

.bx:hover {
    transition: 0.3s;
}

#popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color_11);
    display: none;
}

.popup_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color_9);
    padding: 1.5rem;
    border-radius: 5px;
    text-align: center;
}

.popup_buttons {
    margin-top: 1.5rem;
}

.popup_buttons button {
    background-color: var(--color_1);
    color: var(--color_9);
    padding: 0.6rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
}

.popup_buttons button:hover {
    background-color: var(--color-12);
}

/* Responsible */
 @media (max-width: 1060px) {
    .container {
        margin: 0 auto;
        width: 95%;
    }

    .home_text {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .nav {
        padding: 14px 0;
    }

    .post_container {
        margin: 0 auto;
        width: 95%;
    }
}

@media (max-width: 768px) {
    .nav {
        padding: 10px 0;
    }

    selection {
        padding: 2rem 0;
    }

    .header_content {
        margin-top: 3rem !important;
    }

    .home {
        min-height: 380px;
    }

    .home_title {
        font-size: 3rem;
    }
    
    .header_title {
        font-size: 2rem;
    }

    .header_img {
        height: 370px;
    }
    .sub_heading {
        margin-top: 70px;
    }

    .post_header {
        height: 435px;
    }

    .post_container {
        margin-top: 9rem !important;
    }
}

@media (max-width: 570px) {
    .post_header {
        height: 390px;
    }

    .header_title {
        width: 100%;
    }

    .header_img {
        height: 340px;
    }

    .footer {
        flex-direction: column;
        row-gap: 1rem;
        padding: 20px 0;
        text-align: center;
    }
}

@media (max-width: 396px) {
    .home_title {
        font-size: 2rem;
    }

    .home_subtitle {
        font-size: 0.9rem;
    }
    
    .home {
        min-height: 300px;
    }

    .post_box {
        padding: 10px;
    }

    .header_title {
        font-size: .4rem;
    }

    .header_img {
        height: 240px;
    }

    .post_header {
        height: 335px;
    }

    .post_content {
        margin-top: 5rem !important;
    }

    .post_text {
        font-size: 0.875rem;
        line-height: 1.5rem;
        margin: 10px 0;
    }
}